pkgbase = springclean
	pkgdesc = file reorganization tool to automatically sort loose files into subdirectories based on extension
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/le-jesuve/springclean
	arch = any
	license = GPL3
	depends = bash
	source = https://github.com/le-jesuve/springclean/releases/download/v1.0.0/springclean.sh
	sha256sums = 456d9e3fd9f7553bdeaff27256cc35491deec0731ae3dcf2919e54b0c32ad9fc

pkgname = springclean
