pkgbase = springclean
	pkgdesc = file reorganization tool to automatically sort loose files into subdirectories based on extension
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/le-jesuve/springclean
	arch = any
	license = GPL3
	depends = bash
	source = https://github.com/le-jesuve/springclean/releases/download/v1.0.0/springclean.sh
	sha256sums = 809d960fec844b8ca685558776d3acfa81c5de8a83f10b1f4ad04c5d198c587a

pkgname = springclean
