pkgbase = springclean
	pkgdesc = file reorganization tool to automatically sort loose files into subdirectories based on extension
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/le-jesuve/springclean
	arch = any
	license = GPL3
	depends = bash
	source = https://github.com/le-jesuve/springclean/releases/download/v1.0.0/springclean.sh
	sha256sums = cbb7c6e7ccedb7061bd7454cb1e64c653e1f8ca2b1f66ba6602427e8d5486f34

pkgname = springclean
